config SHIELD_TALON_LEFT
	def_bool $(shields_list_contains,talon_left)

config SHIELD_TALON_RIGHT
	def_bool $(shields_list_contains,talon_right)

config SHIELD_TALON_DONGLE
	def_bool $(shields_list_contains,talon_dongle)