# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

if SHIELD_TALON_DONGLE || SHIELD_TALON_LEFT || SHIELD_TALON_RIGHT

config ZMK_KEYBOARD_NAME
	default "Talon"

config ZMK_SPLIT
	default y

endif

if SHIELD_TALON_DONGLE

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif